* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

Link {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

:root {
  --orange-color: #ff7338;
  --white-color: #f1efeb;
  --black-color: #161816;
}

.none {
  display: none;
}
